
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*body{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}*/
body{
    background-color: rgb(14, 13, 13);
}
    



/*Header section styles*/
.bg-navbar{
    height: 715px;
    width: 100%;
    border: 2px solid red;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 46px;
    width:100%;
    border: 2px solid red;
    margin-top: 50px;
}
#brand{
    color: rgb(230, 83, 60);
    font-size:2.25rem ;
    font-weight: 800;
    font-style: italic;
}
.nav-links{
   display: flex;
   flex-direction: row;
   justify-content:center;
   align-items: center;
   gap: 47px;
   border: 1px solid rgba(255, 255, 255, 0.1);
   border-radius: 39px;
   height: 46px;
   padding: 10px;
    
}
.nav-list{
    list-style: none;
    font-size: 1.13rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
#home-color{
    width: 92px;
    height: 30px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 8px 20px 8px 20px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*Banner container section star*/
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.banner-title{
    color: rgb(255, 255, 255);
    font-size: 4.9rem;
    font-weight: 800;
    margin-bottom: 0px;
}
.banner-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
   /* gap: 28px;*/
}
.banner-contents span{
    font-style: italic;
}
.button-section{
    
}
.join-button{
    padding: 16px 40px 16px 40px;
    background: rgb(230, 83, 60);
    border-radius: 42px;
    font-size: 1.12rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-right: 14px;
    
}
.download-button{
    padding: 16px 40px 16px 40px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(14, 13, 13);
    color: rgb(255, 255, 255);
    border-radius: 42px;
    font-size: 1.12rem;
    font-weight: 600;

}
.banner-card{
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(48, 48, 48, 0.54);
    height: 90px;
    width: 206px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: auto;
    border-radius: 12px;
    box-sizing: border-box;
}

#first-card{
    font-size: 2.5rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
    
}
#second-card{
    font-size: 2.5rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
}
.banner-card h5{
    color: rgba(255, 255, 255, 0.65);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0px;
}
#workout-card{
    position: absolute;
    bottom: 56%;
    left: 80%;
    z-index: 1;
   
   
}
#tutorial-card{
    position: absolute;
    bottom: 10%;
    left: 58%;
    z-index: 1;
}

@media screen and (max-width: 576px){
    .navbar{
        flex-direction: column;
        margin-top: 0px;
        height: 0px;
        
    }
    .nav-links{
        flex-direction: column;
        border: none;
        gap: 10px;
        
    }
    .banner-container{
        flex-direction: column;

    }
    .bg-navbar{
        height: auto;
    }
    .banner-title{
        
    }
    #workout-card{
    position:static;
   
    }
    #tutorial-card{
        position: static;
       
    
    }
    .banner-card{
         
    }

    
}