
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*body{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}*/
body{
    background-color: rgb(14, 13, 13);
    font-family: Inter;
}
    



/*Header section styles*/
.bg-navbar{
    height: 715px;
    width: 100%;
    border: 2px solid red;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 46px;
    width:100%;
    border: 2px solid red;
    margin-top: 50px;
}
#brand{
    color: rgb(230, 83, 60);
    font-size:2.25rem ;
    font-weight: 800;
    font-style: italic;
    
}
.nav-links{
   display: flex;
   flex-direction: row;
   justify-content:center;
   align-items: center;
   gap: 47px;
   border: 1px solid rgba(255, 255, 255, 0.1);
   border-radius: 39px;
   height: 46px;
   padding: 10px;
    
}
.nav-list{
    list-style: none;
    font-size: 1.13rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
#home-color{
    width: 92px;
    height: 30px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 8px 20px 8px 20px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*Banner container section star*/
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.banner-title{
    color: rgb(255, 255, 255);
    font-size: 4.9rem;
    font-weight: 800;
    margin-bottom: 0px;
}
.banner-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
   /* gap: 28px;*/
}
.banner-contents span{
    font-style: italic;
}
.button-section{
    
}
.join-button{
    padding: 16px 40px 16px 40px;
    background: rgb(230, 83, 60);
    border-radius: 42px;
    font-size: 1.12rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-right: 14px;
    border: none;
    
}
.download-button{
    padding: 16px 40px 16px 40px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(14, 13, 13);
    color: rgb(255, 255, 255);
    border-radius: 42px;
    font-size: 1.12rem;
    font-weight: 600;

}
.banner-card{
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(48, 48, 48, 0.54);
    height: 90px;
    width: 206px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: auto;
    border-radius: 12px;
    box-sizing: border-box;
    
}

#first-card{
    font-size: 2.5rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
    
}
#second-card{
    font-size: 2.5rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
}
.banner-card h5{
    color: rgba(255, 255, 255, 0.65);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0px;
    
}
#workout-card{
    position: absolute;
    bottom: 56%;
    left: 80%;
    z-index: 1;
    text-align: center;
   
   
}
#tutorial-card{
    position: absolute;
    bottom: 10%;
    left: 58%;
    z-index: 1;
    text-align: center;
}

/*Habit section start*/
.habit-container{
   /* height: 452px;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 65px;

}
.habit-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 53px;

}
.habit-title{
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
}
.habit-description{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 0px;
}
.exercise-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#img-a{
   margin-top: 0px;
   border-radius: 50%;
   border: 4px solid rgba(255, 255, 255, 0.1);
}
#img-b{
    margin-top: 0px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.1);
 }
 #img-c{
    margin-top: 0px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.1);
 }
 #img-d{
    margin-top: 0px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.1);
 }
 .exercise-title{
    color: rgb(255, 255, 255);
    font-size: 1.12rem;
    font-weight: 600;
 }
 .exercise-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 400;
 }

 /*Run section start here*/
 .run-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: rgb(34, 34, 34);
    width: 1060px;
    border-radius: 18px;
   /* padding-left: 50px;*/
    height: 371px;
    margin: 90px auto;
    

 }
 #run-image{
    width: 366px;
    height: 312px;
    border-radius: 18px;
    padding: 0px;
 }
 .run-title{
    font-size: 3rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
 }
 .run-description{
    font-size: 0.9rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
 }

 /* Healthy food section start here*/
 .food-container{
    width: 100%;
   /* width: 1060px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
    margin: 30px auto;
   
 }
 .food-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 53px;

 }
 .food-title{
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;

 }
 .food-description{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.cap9rem;
    font-weight: 400;
    margin-bottom: 0px;
    
 }
 .food-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
 }
 .food-image{
    width: 272px;
    height: 180px;
    margin-top: 0px;
   border-radius: 50%;
   border: 4px solid rgba(255, 255, 255, 0.1);

 }
 .food-details{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5) ;
 }

 /*BMI section start here*/
.bmi-container{
    width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 70px;
    /* margin:30px auto;*/  
     gap: 50px;
}
.bmi-content{
    margin-left: 0px;
}
.bmi-title{
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    
    
}
.bmi-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 0px;
}
.bmi-details{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: rgb(34, 34, 34);
    width:100%;
    height: 371px;
    margin: 0px auto;

}

.bmi-chart{
    border-collapse: collapse;
    width: 310px;
    height: 216px;
    margin-top: 40px;
    
}
th, td{
    border: 1px solid rgb(255, 255, 255);
    padding: 5px 10px;
}
th{
    color: rgb(255, 255, 255);
    text-align: justify;
    font-size: 1rem;
    font-weight: 500;

}
td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 400;
    text-align: justify;
}
.chart-title{
    font-size: 1.75rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
}
.bmi-calculate-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 400;
    
}
.first-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    margin-top: 30px;

   
}

#first-form{
    padding: 10px 40px 10px 15px;
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem ;
    font-weight: 400;
    text-align:justify;

}
.second-section{
   
    margin-top: 8px;
}
#second-form{
    padding: 10px 40px 10px 15px;
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem ;
    font-weight: 400;
    text-align:justify;
    width: 100%;


}
/*#text:hover{
    color: rgba(255, 255, 255, 0.6);
    border-color:rgba(255, 255, 255, 0.1) transparent transparent transparent; 
}*/
.calculate-button{
    background: rgb(230, 83, 60);
    border-radius: 42px;
    font-size: 1.12rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    border: none;
    padding: 16px 40px 16px 40px;
    margin-top: 20px;
}

/*Team section start here*/
.team-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
}
 .team-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 53px;
 }
 .team-title{
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
 }
 .team-description{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 0px;

 }
/* .image-container{
    align-self: center;
    justify-self: center;
 }*/
 

 .team-img{
    
    width: 1060px;
    height: 604px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    padding: 20px;
    align-items: center;
    justify-content: center;  
 }
 #team-image{
    width: 326px;
    height: 272px;
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.2),url(image);
    
 }
 .team-img h4{
    font-size:1rem ;
    font-weight: 400;
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
 }
 .team-img p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 400;
   
 }
 .trainer-intro{
    position: relative;
   bottom: 90px;
   left: 16px;
 }

 /*Footer section start here*/
 .footer-container{
    width: 100%;
    height: 489px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     margin-top: 90px;
    background: rgba(255, 255, 255, 0.1);
    
 }
 .footer-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 150px;
 }
 .footer-title{
    color: rgb(230, 83, 60);
    font-size:2.25rem ;
    font-weight: 800;
    font-style: italic;
    margin-bottom: 20px;

 }
 .footer-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 0px;
    
 }
 .footer-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
 }
 .footer-info h5{
    font-size: 2rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;

 }
 .footer-info p{
    list-style: none;
    gap: 10px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 0px;
 }
 .long-line{
    height: 0px;
    width: 72%;
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin-top: 50px;
 }
 .footer-text p{
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 70px;
    color: rgba(255, 255, 255, 0.5);
 }

@media screen and (max-width: 576px){
    .navbar{
        flex-direction: column;
        margin-top: 0px;
        height: 0px;
        
    }
    .nav-links{
        flex-direction: column;
        border: none;
        gap: 10px;
        
    }
    .banner-container{
        flex-direction: column;

    }
    .bg-navbar{
        height: auto;
    }
    .banner-title{
        
    }
    #workout-card{
    position:static;
   
    }
    #tutorial-card{
        position: static;
       
    
    }
    .banner-card{
         
    }
    
    .habit-title{
        text-align: center;
       
        display: block;
    }
    .exercise-img{
        flex-direction: column;
        
    }
    .run-container{
        flex-direction: column;
        width: 100%;
        height: 751px;
        gap: 30px;
        margin: 0 auto;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 65px;
        padding: 0;
    
        
    }
    .food-container{
        width: 100%;
        margin-top: 30px;
        padding: auto;
    }
    .food-img{
        flex-direction: column;
        
    }
    .bmi-details{
        flex-direction: column;
        
    }
    .first-section{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 8px;
    
       
    }
    .bmi-details{
        height: 100%;
    }
    .bmi-calculate{
        margin-top: 15px;
    }
    .footer-container{
        flex-direction: column;
        height: 986px;
    }
    .footer-content{
       display: block;
       
    }
    .footer-info{
        margin-top: 0px;
    }
    
}